



.bg-light-blue{
    background-color: #77B4C7;
}

.bg-strong-blue{
    background-color: #004257;
}

.text-strong-blue{
    color: #004257;
}
.text-gray{
    color :#666666;
    align-content: center;
}
.bg-light-red{
    background-color: #F5DCDC;
}

.bg-strong-red{
    background-color: #E70E0E;
}